* {
  margin: 0;
  padding: 0s;
}
header {
  border: 1px solid black;
  display: flex;
  /* flex-direction: row-reverse; */
  padding: 10px 80px;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 50px;
}
ul {
  width: 300px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.section1 {
  margin: 30px 50px;
}
h2 {
  border-bottom: 1px solid grey;
}
#z {
  display: none;
}
@media (max-width: 576px) {
  header {
    background-color: green;
  }
  ul {
    display: none;
  }
  #z {
    display: inline;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    background-color: red;
  }
  .item {
    font-size: 32px;
  }
  ul {
    width: 100px;

    flex-direction: column;
    justify-content: space-between;
  }
}
